.clients {
    width: 1200px;
    padding: auto 0 0;
    margin: auto;
}
body {
    background: #fafafa;
}
.client-table {
    text-align: center;
    font-family: "Roboto", sans-serif;
    position: relative;
    background: #FFFFFF;
    width: 100%;
    margin: 0 auto 0;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0);
    font-size: 18px;
}
.client-table td {
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
.client-table th {
    background: #4a4a4a;
    color: #f0f0f0
}
.form {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.add-form {
    position: relative;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4a4a4a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}